body{
  margin: 0px;
  background-color: #2A2A2A;
}
a{
  color: white;
  text-decoration: none;
}

#h1Grid{
  display: grid;
  background-color: #3E3E3E;
  grid-template-columns: 250px 1fr 100px;
}
#h1Grid h1{
  margin: 0px;
  padding: 15px;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Lobster', cursive;
}
#h1Grid h2{
  margin: 0px;
  padding: 20px;
  font-family: 'Cormorant SC', serif;
}
#menuGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}
#menu2Grid{
  padding-top: 25px;
  display: grid;
  font-size: 12px;
  grid-template-columns: 1fr 1fr;
  color: white;
}
#infoGrid{
  padding: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #3E3E3E;
  color: white;
  font-size: 12px;
  font-family: 'Cormorant SC', serif;
  border-top: 1px solid gray;
}
#infoGrid h2{
  margin: 0px;
  padding: 5px;
  //border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  font-family: 'Cormorant SC', serif;
}
#article{
  padding: 30px;
  color: white;
  font-size: 25px;
  font-family: 'Noto Serif KR', serif;
  text-align: center;
}
#article a{
  color: gray;
}

.listStyleNone{
  padding: 0px;
  list-style: none;
}
.articleH2{
  margin: 0px;
  font-weight: normal;
}
